.images {
    display: flex;
    flex-direction: column;
}

.side-compare {
    display: flex;
}

.side-compare img {
    max-width: 50%;
}


.overlay-container {
    position: relative;
}

.overlay-container img {
    position: absolute;
    left: 0;
    top: 0;

}

.overlay-container img#overlay_map {
    opacity: .3;
    z-index: 100;
    mix-blend-mode: screen;
}
